

.et-background-primary{
	background:      color-primary !important;
}

.et-background-primary-dark{
	background:     color-primary-dark !important;
}

.et-background-accent{
	background:     color-accent !important;
}

.et-background-white {
	background:     white-text;
}