//Backgrounds

//WHITES
.bg-white {
  background: white !important;
}

//TANS
.bg-tan{
     background: tan !important;
    }
    .tan-text{
    color:tan !important;
    }
    .bg-tan-50{
        background: bg-tan-level1 !important;
    }
    .bg-tan-100{
        background: bg-tan-level2 !important;
    }
    .bg-tan-200{
        background: bg-tan-level3 !important;
    }
    .bg-tan-300{
        background: bg-tan-level4 !important;
    }
    .bg-tan-400{
        background: bg-tan-level5 !important;
    }
    .bg-tan-600{
      background: bg-tan-level6 !important; 
    }
    .bg-tan-700{
      background: bg-tan-level7 !important; 
    }
    .bg-tan-800{
      background: bg-tan-level8 !important; 
    }
    .bg-tan-900{
      background: bg-tan-level9 !important; 
    }
     //transparent
  .tan-trans-1 {
  background:  rgba(red(tan), green(tan), blue(tan), 0.3) !important;
}
.tan-trans-2 {
 background:  rgba(red(tan), green(tan), blue(tan), 0.4) !important;
}
.tan-trans-3 {
  background:  rgba(red(tan), green(tan), blue(tan), 0.5) !important;
}
.tan-trans-4 {
    background:  rgba(red(tan), green(tan), blue(tan), 0.6) !important;
}
.tan-trans-5 {
  background:  rgba(red(tan), green(tan), blue(tan), 0.7) !important;
}

//REDS
.bg-red{
     background: red !important;
    }
    .red-text{
    color:red !important;
    }
    .bg-red-50{
        background: bg-red-level1 !important;
    }
    .bg-red-100{
        background: bg-red-level2 !important;
    }
    .bg-red-200{
        background: bg-red-level3 !important;
    }
    .bg-red-300{
        background: bg-red-level4 !important;
    }
    .bg-red-400{
        background: bg-red-level5 !important;
    }
    .bg-red-600{
      background: bg-red-level6 !important; 
    }
    .bg-red-700{
      background: bg-red-level7 !important; 
    }
    .bg-red-800{
      background: bg-red-level8 !important; 
    }
    .bg-red-900{
      background: bg-red-level9 !important; 
    }
     //transparent
  .red-trans-1 {
  background:  rgba(red(red), green(red), blue(red), 0.3) !important;
}
.red-trans-2 {
 background:  rgba(red(red), green(red), blue(red), 0.4) !important;
}
.red-trans-3 {
  background:  rgba(red(red), green(red), blue(red), 0.5) !important;
}
.red-trans-4 {
    background:  rgba(red(red), green(red), blue(red), 0.6) !important;
}
.red-trans-5 {
  background:  rgba(red(red), green(red), blue(red), 0.7) !important;
}

//BLUE
.bg-blue{
    background:blue !important;
   
    }
    .blue-text{
    color:blue !important;
    }
    .bg-blue-50{
        background: bg-blue-level1 !important;
    }
    .bg-blue-100{
        background: bg-blue-level2 !important;
    }
    .bg-blue-200{
        background: bg-blue-level3 !important;
    }
    .bg-blue-300{
        background: bg-blue-level4 !important;
    }
    .bg-blue-400{
        background: bg-blue-level5 !important;
    }
    .bg-blue-600{
      background: bg-blue-level6 !important; 
    }
    .bg-blue-700{
      background: bg-blue-level7 !important; 
    }
    .bg-blue-800{
      background: bg-blue-level8 !important; 
    }
    .bg-blue-900{
      background: bg-blue-level9 !important; 
    }
   //transparent
  .blue-trans-1 {
  background:  rgba(red(blue), green(blue), blue(blue), 0.3) !important;
}
  .blue-trans-2 {
 background:  rgba(red(blue), green(blue), blue(blue), 0.4) !important;
}
.blue-trans-3 {
  background:  rgba(red(blue), green(blue), blue(blue), 0.5) !important;
}
.blue-trans-4 {
    background:  rgba(red(blue), green(blue), blue(blue), 0.6) !important;
}
.blue-trans-5 {
  background:  rgba(red(blue), green(blue), blue(blue), 0.7) !important;
}
//GREEN
.bg-green{
    
    background: green !important;
    }
    .green-text{
    color: green !important;
    }
    .bg-green-50{
        background: bg-green-level1 !important;
    }
    .bg-green-100{
        background: bg-green-level2 !important;
    }
    .bg-green-200{
        background: bg-green-level3 !important;
    }
    .bg-green-300{
        background: bg-green-level4 !important;
    }
    .bg-green-400{
        background: bg-green-level5 !important;
    }
    .bg-green-600{
      background: bg-green-level6 !important; 
    }
    .bg-green-700{
      background: bg-green-level7 !important; 
    }
    .bg-green-800{
      background: bg-green-level8 !important; 
    }
    .bg-green-900{
      background: bg-green-level9 !important; 
    }
      //transparent
  .green-trans-1 {
  background:  rgba(red(green), green(green), blue(green), 0.3) !important;
}
.green-trans-2 {
 background:  rgba(red(green), green(green), blue(green), 0.4) !important;
}
.green-trans-3 {
  background:  rgba(red(green), green(green), blue(green), 0.5) !important;
}
.green-trans-4 {
    background:  rgba(red(green), green(green), blue(green), 0.6) !important;
}
.green-trans-5 {
  background:  rgba(red(green), green(green), blue(green), 0.7) !important;
} 
//pink
.bg-pink{
    background:pink !important;
   
    }
    .pink-text{
    color: pink !important;
    }
    .bg-pink-50{
        background: bg-pink-level1 !important;
    }
    .bg-pink-100{
        background: bg-pink-level2 !important;
    }
    .bg-pink-200{
        background: bg-pink-level3 !important;
    }
    .bg-pink-300{
        background: bg-pink-level4 !important;
    }
    .bg-pink-400{
        background: bg-pink-level5 !important;
    }
    .bg-pink-600{
      background: bg-pink-level6 !important; 
    }
    .bg-pink-700{
      background: bg-pink-level7 !important; 
    }
    .bg-pink-800{
      background: bg-pink-level8 !important; 
    }
    .bg-pink-900{
      background: bg-pink-level9 !important; 
    }
       //transparent
  .pink-trans-1 {
  background:  rgba(red(pink), green(pink), blue(pink), 0.3) !important;
}
.pink-trans-2 {
 background:  rgba(red(pink), green(pink), blue(pink), 0.4) !important;
}
.pink-trans-3 {
  background:  rgba(red(pink), green(pink), blue(pink), 0.5) !important;
}
.pink-trans-4 {
    background:  rgba(red(pink), green(pink), blue(pink), 0.6) !important;
}
.pink-trans-5 {
  background:  rgba(red(pink), green(pink), blue(pink), 0.7) !important;
}
//purple
.bg-purple{
    background:purple !important;
    
    }
    .purple-text{
    color: purple !important;
    }
    .bg-purple-50{
        background: bg-purple-level1 !important;
    }
    .bg-purple-100{
        background: bg-purple-level2 !important;
    }
    .bg-purple-200{
        background: bg-purple-level3 !important;
    }
    .bg-purple-300{
        background: bg-purple-level4 !important;
    }
    .bg-purple-400{
        background: bg-purple-level5 !important;
    }
    .bg-purple-600{
      background: bg-purple-level6 !important; 
    }
    .bg-purple-700{
      background: bg-purple-level7 !important; 
    }
    .bg-purple-800{
      background: bg-purple-level8 !important; 
    }
    .bg-purple-900{
      background: bg-purple-level9 !important; 
    }
       //transparent
  .purple-trans-1 {
  background:  rgba(red(purple), green(purple), blue(purple), 0.3) !important;
}
.purple-trans-2 {
 background:  rgba(red(purple), green(purple), blue(purple), 0.4) !important;
}
.purple-trans-3 {
  background:  rgba(red(purple), green(purple), blue(purple), 0.5) !important;
}
.purple-trans-4 {
    background:  rgba(red(purple), green(purple), blue(purple), 0.6) !important;
}
.purple-trans-5 {
  background:  rgba(red(purple), green(purple), blue(purple), 0.7) !important;
}
 
//deep-purple
.bg-deep-purple{
    background:deep-purple !important;
  
    }
    .deep-purple-text{
    color: deep-purple !important;
    }
    .bg-deep-purple-50{
        background: bg-deep-purple-level1 !important;
    }
    .bg-deep-purple-100{
        background: bg-deep-purple-level2 !important;
    }
    .bg-deep-purple-200{
        background: bg-deep-purple-level3 !important;
    }
    .bg-deep-purple-300{
        background: bg-deep-purple-level4 !important;
    }
    .bg-deep-purple-400{
        background: bg-deep-purple-level5 !important;
    }
    .bg-deep-purple-600{
      background: bg-deep-purple-level6 !important; 
    }
    .bg-deep-purple-700{
      background: bg-deep-purple-level7 !important; 
    }
    .bg-deep-purple-800{
      background: bg-deep-purple-level8 !important; 
    }
    .bg-deep-purple-900{
      background: bg-deep-purple-level9 !important; 
    }
       //transparent
  .deep-purple-trans-1 {
  background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.3) !important;
}
.deep-purple-trans-2 {
 background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.4) !important;
}
.deep-purple-trans-3 {
  background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.5) !important;
}
.deep-purple-trans-4 {
    background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.6) !important;
}
.deep-purple-trans-5 {
  background:  rgba(red(deep-purple), green(deep-purple), blue(deep-purple), 0.7) !important;
}
//Indigo
.bg-indigo{
    background:indigo !important;
  
    }
    .indigo-text{
    color: indigo !important;
    }
    .bg-indigo-50{
        background: bg-indigo-level1 !important;
    }
    .bg-indigo-100{
        background: bg-indigo-level2 !important;
    }
    .bg-indigo-200{
        background: bg-indigo-level3 !important;
    }
    .bg-indigo-300{
        background: bg-indigo-level4 !important;
    }
    .bg-indigo-400{
        background: bg-indigo-level5 !important;
    }
    .bg-indigo-600{
      background: bg-indigo-level6 !important; 
    }
    .bg-indigo-700{
      background: bg-indigo-level7 !important; 
    }
    .bg-indigo-800{
      background: bg-indigo-level8 !important; 
    }
    .bg-indigo-900{
      background: bg-indigo-level9 !important; 
    }
       //transparent
  .indigo-trans-1 {
  background:  rgba(red(indigo), green(indigo), blue(indigo), 0.3) !important;
}
.indigo-trans-2 {
 background:  rgba(red(indigo), green(indigo), blue(indigo), 0.4) !important;
}
.indigo-trans-3 {
  background:  rgba(red(indigo), green(indigo), blue(indigo), 0.5) !important;
}
.indigo-trans-4 {
    background:  rgba(red(indigo), green(indigo), blue(indigo), 0.6) !important;
}
.indigo-trans-5 {
  background:  rgba(red(indigo), green(indigo), blue(indigo), 0.7) !important;
}
//cyan
.bg-cyan{
    background: cyan !important;
  
    }
    .cyan-text{
    color: cyan !important;
    }
    .bg-cyan-50{
        background: bg-cyan-level1 !important;
    }
    .bg-cyan-100{
        background: bg-cyan-level2 !important;
    }
    .bg-cyan-200{
        background: bg-cyan-level3 !important;
    }
    .bg-cyan-300{
        background: bg-cyan-level4 !important;
    }
    .bg-cyan-400{
        background: bg-cyan-level5 !important;
    }
    .bg-cyan-600{
      background: bg-cyan-level6 !important; 
    }
    .bg-cyan-700{
      background: bg-cyan-level7 !important; 
    }
    .bg-cyan-800{
      background: bg-cyan-level8 !important; 
    }
    .bg-cyan-900{
      background: bg-cyan-level9 !important; 
    }
        //transparent
  .cyan-trans-1 {
  background:  rgba(red(cyan), green(cyan), blue(cyan), 0.3) !important;
}
.cyan-trans-2 {
 background:  rgba(red(cyan), green(cyan), blue(cyan), 0.4) !important;
}
.cyan-trans-3 {
  background:  rgba(red(cyan), green(cyan), blue(cyan), 0.5) !important;
}
.cyan-trans-4 {
    background:  rgba(red(cyan), green(cyan), blue(cyan), 0.6) !important;
}
.cyan-trans-5 {
  background:  rgba(red(cyan), green(cyan), blue(cyan), 0.7) !important;
}

//light-blue
.bg-light-blue{
    background:light-blue !important;
    
    }
    .light-blue-text{
    color: light-blue !important;
    }
    .bg-light-blue-50{
        background: light-blue-level1 !important;
    }
    .bg-light-blue-100{
        background: light-blue-stage2 !important;
    }
    .bg-light-blue-200{
        background: light-blue-level3 !important;
    }
    .bg-light-blue-300{
        background: light-blue-level4 !important;
    }
    .bg-light-blue-400{
        background: light-blue-level5 !important;
    }
    .bg-light-blue-600{
      background: light-blue-level6 !important; 
    }
    .bg-light-blue-700{
      background: light-blue-level7 !important; 
    }
    .bg-light-blue-800{
      background: light-blue-level8 !important; 
    }
    .bg-light-blue-900{
      background: light-blue-level9 !important; 
    }
       //transparent
  .light-blue-trans-1 {
  background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.3) !important;
}
.light-blue-trans-2 {
 background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.4) !important;
}
.light-blue-trans-3 {
  background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.5) !important;
}
.light-blue-trans-4 {
    background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.6) !important;
}
.light-blue-trans-5 {
  background:  rgba(red(light-blue), green(light-blue), blue(light-blue), 0.7) !important;
}
//lime
.bg-lime{
    background:lime !important;
    
    }
    .lime-text{
    color: lime !important;
    }
    .bg-lime-50{
        background: bg-lime-level1 !important;
    }
    .bg-lime-100{
        background: bg-lime-level2 !important;
    }
    .bg-lime-200{
        background: bg-lime-level3 !important;
    }
    .bg-lime-300{
        background: bg-lime-level4 !important;
    }
    .bg-lime-400{
        background: bg-lime-level5 !important;
    }
    .bg-lime-600{
      background: bg-lime-level6 !important; 
    }
    .bg-lime-700{
      background: bg-lime-level7 !important; 
    }
    .bg-lime-800{
      background: bg-lime-level8 !important; 
    }
    .bg-lime-900{
      background: bg-lime-level9 !important; 
    }
        //transparent
  .lime-trans-1 {
  background:  rgba(red(lime), green(lime), blue(lime), 0.3) !important;
}
.lime-trans-2 {
 background:  rgba(red(lime), green(lime), blue(lime), 0.4) !important;
}
.lime-trans-3 {
  background:  rgba(red(lime), green(lime), blue(lime), 0.5) !important;
}
.lime-trans-4 {
    background:  rgba(red(lime), green(lime), blue(lime), 0.6) !important;
}
.lime-trans-5 {
  background:  rgba(red(lime), green(lime), blue(lime), 0.7) !important;
}

//light-green
.bg-light-green{
    background:light-green !important;
    
    }
    .light-green-text{
    color: light-green !important;
    }
    .bg-light-green-50{
        background: bg-light-green-level1 !important;
    }
    .bg-light-green-100{
        background: bg-light-green-level2 !important;
    }
    .bg-light-green-200{
        background: bg-light-green-level3 !important;
    }
    .bg-light-green-300{
        background: bg-light-green-level4 !important;
    }
    .bg-light-green-400{
        background: bg-light-green-level5 !important;
    }
    .bg-light-green-600{
      background: bg-light-green-level6 !important; 
    }
    .bg-light-green-700{
      background: bg-light-green-level7 !important; 
    }
    .bg-light-green-800{
      background: bg-light-green-level8 !important; 
    }
    .bg-light-green-900{
      background: bg-light-green-level9 !important; 
    }
        //transparent
  .light-green-trans-1 {
  background:  rgba(red(light-green), green(light-green), blue(light-green), 0.3) !important;
}
.light-green-trans-2 {
 background:  rgba(red(light-green), green(light-green), blue(light-green), 0.4) !important;
}
.light-green-trans-3 {
  background:  rgba(red(light-green), green(light-green), blue(light-green), 0.5) !important;
}
.light-green-trans-4 {
    background:  rgba(red(light-green), green(light-green), blue(light-green), 0.6) !important;
}
.light-green-trans-5 {
  background:  rgba(red(light-green), green(light-green), blue(light-green), 0.7) !important;
}
//teal
.bg-teal{
    background:teal !important;
   
    }
    .teal-text{
    color: teal !important;
    }
    .bg-teal-50{
        background: bg-teal-level1 !important;
    }
    .bg-teal-100{
        background: bg-teal-level2 !important;
    }
    .bg-teal-200{
        background: bg-teal-level3 !important;
    }
    .bg-teal-300{
        background: bg-teal-level4 !important;
    }
    .bg-teal-400{
        background: bg-teal-level5 !important;
    }
    .bg-teal-600{
      background: bg-teal-level6 !important; 
    }
    .bg-teal-700{
      background: bg-teal-level7 !important; 
    }
    .bg-teal-800{
      background: bg-teal-level8 !important; 
    }
    .bg-teal-900{
      background: bg-teal-level9 !important; 
    }
       //transparent
  .teal-trans-1 {
  background:  rgba(red(teal), green(teal), blue(teal), 0.3) !important;
}
.teal-trans-2 {
 background:  rgba(red(teal), green(teal), blue(teal), 0.4) !important;
}
.teal-trans-3 {
  background:  rgba(red(teal), green(teal), blue(teal), 0.5) !important;
}
.teal-trans-4 {
    background:  rgba(red(teal), green(teal), blue(teal), 0.6) !important;
}
.teal-trans-5 {
  background:  rgba(red(teal), green(teal), blue(teal), 0.7) !important;
}
//yellow
.bg-yellow{
    background:yellow !important;
    
    }
    .yellow-text{
    color: yellow !important;
    }
    .bg-yellow-50{
        background: bg-yellow-level1 !important;
    }
    .bg-yellow-100{
        background: bg-yellow-level2 !important;
    }
    .bg-yellow-200{
        background: bg-yellow-level3 !important;
    }
    .bg-yellow-300{
        background: bg-yellow-level4 !important;
    }
    .bg-yellow-400{
        background: bg-yellow-level5 !important;
    }
    .bg-yellow-600{
      background: bg-yellow-level6 !important; 
    }
    .bg-yellow-700{
      background: bg-yellow-level7 !important; 
    }
    .bg-yellow-800{
      background: bg-yellow-level8 !important; 
    }
    .bg-yellow-900{
      background: bg-yellow-level9 !important; 
    }
        //transparent
  .yellow-trans-1 {
  background:  rgba(red(yellow), green(yellow), blue(yellow), 0.3) !important;
}
.yellow-trans-2 {
 background:  rgba(red(yellow), green(yellow), blue(yellow), 0.4) !important;
}
.yellow-trans-3 {
  background:  rgba(red(yellow), green(yellow), blue(yellow), 0.5) !important;
}
.yellow-trans-4 {
    background:  rgba(red(yellow), green(yellow), blue(yellow), 0.6) !important;
}
.yellow-trans-5 {
  background:  rgba(red(yellow), green(yellow), blue(yellow), 0.7) !important;
}
//amber
.bg-amber{
    background:amber !important;
   
    }
    .amber-text{
    color: amber !important;
    }
    .bg-amber-50{
        background: bg-amber-level1 !important;
    }
    .bg-amber-100{
        background: bg-amber-level2 !important;
    }
    .bg-amber-200{
        background: bg-amber-level3 !important;
    }
    .bg-amber-300{
        background: bg-amber-level4 !important;
    }
    .bg-amber-400{
        background: bg-amber-level5 !important;
    }
    .bg-amber-600{
      background: bg-amber-level6 !important; 
    }
    .bg-amber-700{
      background: bg-amber-level7 !important; 
    }
    .bg-amber-800{
      background: bg-amber-level8 !important; 
    }
    .bg-amber-900{
      background: bg-amber-level9 !important; 
    }
        //transparent
  .amber-trans-1 {
  background:  rgba(red(amber), green(amber), blue(amber), 0.3) !important;
}
.amber-trans-2 {
 background:  rgba(red(amber), green(amber), blue(amber), 0.4) !important;
}
.amber-trans-3 {
  background:  rgba(red(amber), green(amber), blue(amber), 0.5) !important;
}
.amber-trans-4 {
    background:  rgba(red(amber), green(amber), blue(amber), 0.6) !important;
}
.amber-trans-5 {
  background:  rgba(red(amber), green(amber), blue(amber), 0.7) !important;
}
//orange
.bg-orange{
    background:orange !important;
    
    }
    .orange-text{
    color: orange !important;
    }
    .bg-orange-50{
        background: bg-orange-level1 !important;
    }
    .bg-orange-100{
        background: bg-orange-level2 !important;
    }
    .bg-orange-200{
        background: bg-orange-level3 !important;
    }
    .bg-orange-300{
        background: bg-orange-level4 !important;
    }
    .bg-orange-400{
        background: bg-orange-level5 !important;
    }
    .bg-orange-600{
      background: bg-orange-level6 !important; 
    }
    .bg-orange-700{
      background: bg-orange-level7 !important; 
    }
    .bg-orange-800{
      background: bg-orange-level8 !important; 
    }
    .bg-orange-900{
      background: bg-orange-level9 !important; 
    }
        //transparent
  .orange-trans-1 {
  background:  rgba(red(orange), green(orange), blue(orange), 0.3) !important;
}
.orange-trans-2 {
 background:  rgba(red(orange), green(orange), blue(orange), 0.4) !important;
}
.orange-trans-3 {
  background:  rgba(red(orange), green(orange), blue(orange), 0.5) !important;
}
.orange-trans-4 {
    background:  rgba(red(orange), green(orange), blue(orange), 0.6) !important;
}
.orange-trans-5 {
  background:  rgba(red(orange), green(orange), blue(orange), 0.7) !important;
}

//deep-orange
.bg-deep-orange{
    background:deep-orange !important;
    
    }
    .deep-orange-text{
    color: deep-orange !important;
    }
    .bg-deep-orange-50{
        background: bg-deep-orange-level1 !important;
    }
    .bg-deep-orange-100{
        background: bg-deep-orange-level2 !important;
    }
    .bg-deep-orange-200{
        background: bg-deep-orange-level3 !important;
    }
    .bg-deep-orange-300{
        background: bg-deep-orange-level4 !important;
    }
    .bg-deep-orange-400{
        background: bg-deep-orange-level5 !important;
    }
    .bg-deep-orange-600{
      background: bg-deep-orange-level6 !important; 
    }
    .bg-deep-orange-700{
      background: bg-deep-orange-level7 !important; 
    }
    .bg-deep-orange-800{
      background: bg-deep-orange-level8 !important; 
    }
    .bg-deep-orange-900{
      background: bg-deep-orange-level9 !important; 
    }
        //transparent
  .deep-orange-trans-1 {
  background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.3) !important;
color:white !important;
}
.deep-orange-trans-2 {
 background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.4) !important;
color:white !important;
}
.deep-orange-trans-3 {
  background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.5) !important;
color:white !important;
}
.deep-orange-trans-4 {
    background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.6) !important;
color:white !important;
}
.deep-orange-trans-5 {
  background:  rgba(red(deep-orange), green(deep-orange), blue(deep-orange), 0.7) !important;
color:white !important;
}

//grey
.bg-grey{
    background:grey !important;
  
    }
    .grey-text{
    color: grey !important;
    }
    .bg-grey-50{
        background: bg-grey-level1 !important;
    }
    .bg-grey-100{
        background: bg-grey-level2 !important;
    }
    .bg-grey-200{
        background: bg-grey-level3 !important;
    }
    .bg-grey-300{
        background: bg-grey-level4 !important;
    }
    .bg-grey-400{
        background: bg-grey-level5 !important;
    }
    .bg-grey-600{
      background: bg-grey-level6 !important; 
    }
    .bg-grey-700{
      background: bg-grey-level7 !important; 
    }
    .bg-grey-800{
      background: bg-grey-level8 !important; 
    }
    .bg-grey-900{
      background: bg-grey-level9 !important; 
    }
       //transparent
  .grey-trans-1 {
  background:  rgba(red(grey), green(grey), blue(grey), 0.3) !important;
}
.grey-trans-2 {
 background:  rgba(red(grey), green(grey), blue(grey), 0.4) !important;
}
.grey-trans-3 {
  background:  rgba(red(grey), green(grey), blue(grey), 0.5) !important;
}
.grey-trans-4 {
    background:  rgba(red(grey), green(grey), blue(grey), 0.6) !important;
}
.grey-trans-5 {
  background:  rgba(red(grey), green(grey), blue(grey), 0.7) !important;
}
//blue-grey
.bg-blue-grey{
    background:blue-grey !important;
  
    }
    .blue-grey-text{
    color: blue-grey !important;
    }
    .bg-blue-grey-50{
        background: bg-blue-grey-level1 !important;
    }
    .bg-blue-grey-100{
        background: bg-blue-grey-level2 !important;
    }
    .bg-blue-grey-200{
        background: bg-blue-grey-level3 !important;
    }
    .bg-blue-grey-300{
        background: bg-blue-grey-level4 !important;
    }
    .bg-blue-grey-400{
        background: bg-blue-grey-level5 !important;
    }
    .bg-blue-grey-600{
      background: bg-blue-grey-level6 !important; 
    }
    .bg-blue-grey-700{
      background: bg-blue-grey-level7 !important; 
    }
    .bg-blue-grey-800{
      background: bg-blue-grey-level8 !important; 
    }
    .bg-blue-grey-900{
      background: bg-blue-grey-level9 !important; 
    }
       //transparent
  .blue-grey-trans-1 {
  background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.3) !important;
}
.blue-grey-trans-2 {
 background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.4) !important;
}
.blue-grey-trans-3 {
  background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.5) !important;
}
.blue-grey-trans-4 {
    background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.6) !important;
}
.blue-grey-trans-5 {
  background:  rgba(red(blue-grey), green(blue-grey), blue(blue-grey), 0.7) !important;
}
//brown
.bg-brown{
    background:brown !important;
  
    }
    .brown-text{
    color: brown !important;
    }
    .bg-brown-50{
        background: bg-brown-level1 !important;
    }
    .bg-brown-100{
        background: bg-brown-level2 !important;
    }
    .bg-brown-200{
        background: bg-brown-level3 !important;
    }
    .bg-brown-300{
        background: bg-brown-level4 !important;
    }
    .bg-brown-400{
        background: bg-brown-level5 !important;
    }
    .bg-brown-600{
      background: bg-brown-level6 !important; 
    }
    .bg-brown-700{
      background: bg-brown-level7 !important; 
    }
    .bg-brown-800{
      background: bg-brown-level8 !important; 
    }
    .bg-brown-900{
      background: bg-brown-level9 !important; 
    }
        //transparent
  .brown-trans-1 {
  background:  rgba(red(brown), green(brown), blue(brown), 0.3) !important;
}
.brown-trans-2 {
 background:  rgba(red(brown), green(brown), blue(brown), 0.4) !important;
}
.brown-trans-3 {
  background:  rgba(red(brown), green(brown), blue(brown), 0.5) !important;
}
.brown-trans-4 {
    background:  rgba(red(brown), green(brown), blue(brown), 0.6) !important;
}
.brown-trans-5 {
  background:  rgba(red(brown), green(brown), blue(brown), 0.7) !important;
}

//Command Colors
.bg-white {
  background: white !important;
}
.et-dark-text   {color: rgba(0,0,0, 0.87) !important;}
.et-white-text {color: rgba(255,255,255, 0.87) !important;}
.bg-bright-black {
  background: bright-black !important;
}

.bg-black {
  background: black !important;
}

.bg-dark-black {
  background: background-black !important;
}

.off-white-text{
    color: off-white !important;
    }

 .bright-white-text{
    color: bright-white !important;
    }   

//Borders
.border{
  border:1px solid !important;
}
.thin-border{
  border-style: solid !important;
  border-width: thin !important;

}
.medium-border{
  border-style: solid !important;
  border-width: medium !important;

}
.thick-border{
  border-style: solid !important;
  border-width: thick !important;

}
.border-dash{
  border-style: dashed !important;
}
.border-dotted{
  border-style: dotted !important;
}
.border-double{
  border-style: double !important;
  
}
.red-border{
  border-color:red !important;
 }
.blue-border{
  border-color:blue !important;
 }
.green-border{
  border-color:green !important;
 }
.pink-border{
  border-color:pink !important;
 }
.purple-border{
  border-color:purple !important;
 }
.deep-purple-border{
  border-color:deep-purple !important;
 }
.indigo-border{
  border-color:indigo !important;
 }
.cyan-border{
  border-color:cyan !important;
 }
.light-blue-border{
  border-color:light-blue !important;
 }
.lime-border{
  border-color:lime !important;
 }
 .light-green-border{
  border-color:light-green !important;
 }
 .teal-border{
  border-color:teal !important;
 }
 .yellow-border{
  border-color:yellow !important;
 }
 .orange-border{
  border-color:orange !important;
 }
 .amber-border{
  border-color:amber !important;
 }
 .deep-orange-border{
  border-color:deep-orange !important;
 }
 .grey-border{
  border-color:grey !important;
 }
 .blue-grey-border{
  border-color:blue-grey !important;
 }
 .brown-border{
  border-color:brown !important;
 }
 .bl0{border-left:none !important;}
 .br0{border-right:none !important;}
 .bt0{border-top:none !important;}
 .bb0{border-bottom:none !important;}
 .outline{
 outline: 5px solid #e3e3e3 !important;
 }
 //cool backgrounds
 .paper1{
 background:linear-gradient(180deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2)) !important;
 }
