//Main style import page.  See variables.style to make changes

//Load the ExoTypography resets
@import "variables"

//Load the Earth-Colors Logic
@import "functions"

//Load EarthTypography
@require "reset"
@require "typography"
@require "basiccolors"
@require "tables"
@require "links"
@require "margins"
@require "padding"
@require "positions"
@require "textfield"
@require "images"
@require "shadow"

//Load Earth-colors
@require "colors"



//Load the required animations for your project
//@require animation-setup
//@require appear-from-bottom
//@require appear-from-left
//@require appear-from-top
//@require fadein