
/*  Mixins and or Functions to Calculate different components  */
/*  Auto Create Color Pallete Based on Variables */
//blue-grey
bg-blue-grey-level1 =         lighten(blue-grey, 90%);
bg-blue-grey-level2 =         lighten(blue-grey, 80%);
bg-blue-grey-level3 =         lighten(blue-grey, 60%);
bg-blue-grey-level4 =         lighten(blue-grey, 40%);
bg-blue-grey-level5 =         lighten(blue-grey, 15%);
bg-blue-grey-level6 =         darken(blue-grey, 20%);
bg-blue-grey-level7 =         darken(blue-grey, 40%);
bg-blue-grey-level8 =         darken(blue-grey, 60%);
bg-blue-grey-level9 =         darken(blue-grey, 80%);
//TAN
bg-tan-level1 =         lighten(tan, 90%);
bg-tan-level2 =         lighten(tan, 80%);
bg-tan-level3 =         lighten(tan, 60%);
bg-tan-level4 =         lighten(tan, 30%);
bg-tan-level5 =         lighten(tan, 15%);
bg-tan-level6 =         darken(tan, 20%);
bg-tan-level7 =         darken(tan, 40%);
bg-tan-level8 =         darken(tan, 60%);
bg-tan-level9 =         darken(tan, 80%);
//RED
bg-red-level1 =         lighten(red, 90%);
bg-red-level2 =         lighten(red, 80%);
bg-red-level3 =         lighten(red, 60%);
bg-red-level4 =         lighten(red, 30%);
bg-red-level5 =         lighten(red, 15%);
bg-red-level6 =         darken(red, 20%);
bg-red-level7 =         darken(red, 40%);
bg-red-level8 =         darken(red, 60%);
bg-red-level9 =         darken(red, 80%);
//BLUE
bg-blue-level1 =         lighten(blue, 90%);
bg-blue-level2 =         lighten(blue, 80%);
bg-blue-level3 =         lighten(blue, 60%);
bg-blue-level4 =         lighten(blue, 30%);
bg-blue-level5 =         lighten(blue, 15%);
bg-blue-level6 =         darken(blue, 20%);
bg-blue-level7 =         darken(blue, 40%);
bg-blue-level8 =         darken(blue, 60%);
bg-blue-level9 =         darken(blue, 80%);
//GREEN
bg-green-level1 =         lighten(green, 90%);
bg-green-level2 =         lighten(green, 80%);
bg-green-level3 =         lighten(green, 60%);
bg-green-level4 =         lighten(green, 30%);
bg-green-level5 =         lighten(green, 15%);
bg-green-level6 =         darken(green, 20%);
bg-green-level7 =         darken(green, 40%);
bg-green-level8 =         darken(green, 60%);
bg-green-level9 =         darken(green, 80%);

//pink
bg-pink-level1 =         lighten(pink, 90%);
bg-pink-level2 =         lighten(pink, 80%);
bg-pink-level3 =         lighten(pink, 60%);
bg-pink-level4 =         lighten(pink, 40%);
bg-pink-level5 =         lighten(pink, 15%);
bg-pink-level6 =         darken(pink, 20%);
bg-pink-level7 =         darken(pink, 40%);
bg-pink-level8 =         darken(pink, 60%);
bg-pink-level9 =         darken(pink, 80%);

//purple
bg-purple-level1 =         lighten(purple, 90%);
bg-purple-level2 =         lighten(purple, 80%);
bg-purple-level3 =         lighten(purple, 60%);
bg-purple-level4 =         lighten(purple, 40%);
bg-purple-level5 =         lighten(purple, 15%);
bg-purple-level6 =         darken(purple, 20%);
bg-purple-level7 =         darken(purple, 40%);
bg-purple-level8 =         darken(purple, 60%);
bg-purple-level9 =         darken(purple, 80%);

//deep-purple
bg-deep-purple-level1 =         lighten(deep-purple, 90%);
bg-deep-purple-level2 =         lighten(deep-purple, 80%);
bg-deep-purple-level3 =         lighten(deep-purple, 60%);
bg-deep-purple-level4 =         lighten(deep-purple, 40%);
bg-deep-purple-level5 =         lighten(deep-purple, 15%);
bg-deep-purple-level6 =         darken(deep-purple, 20%);
bg-deep-purple-level7 =         darken(deep-purple, 40%);
bg-deep-purple-level8 =         darken(deep-purple, 60%);
bg-deep-purple-level9 =         darken(deep-purple, 80%);

//indigo
bg-indigo-level1 =         lighten(indigo, 90%);
bg-indigo-level2 =         lighten(indigo, 80%);
bg-indigo-level3 =         lighten(indigo, 60%);
bg-indigo-level4 =         lighten(indigo, 40%);
bg-indigo-level5 =         lighten(indigo, 15%);
bg-indigo-level6 =         darken(indigo, 20%);
bg-indigo-level7 =         darken(indigo, 40%);
bg-indigo-level8 =         darken(indigo, 60%);
bg-indigo-level9 =         darken(indigo, 80%);

//cyan
bg-cyan-level1 =         lighten(cyan, 90%);
bg-cyan-level2 =         lighten(cyan, 80%);
bg-cyan-level3 =         lighten(cyan, 60%);
bg-cyan-level4 =         lighten(cyan, 40%);
bg-cyan-level5 =         lighten(cyan, 15%);
bg-cyan-level6 =         darken(cyan, 20%);
bg-cyan-level7 =         darken(cyan, 40%);
bg-cyan-level8 =         darken(cyan, 60%);
bg-cyan-level9 =         darken(cyan, 80%);

//light-blue

light-blue-level1 =		 lighten(light-blue, 90%);
light-blue-stage2 =	     lighten(light-blue, 80%);
light-blue-level3 =      lighten(light-blue, 60%);
light-blue-level4 =      lighten(light-blue, 40%);
light-blue-level5 =      lighten(light-blue, 15%);
light-blue-level6 =      darken(light-blue, 20%);
light-blue-level7 =      darken(light-blue, 40%);
light-blue-level8 =      darken(light-blue, 60%);
light-blue-level9 =      darken(light-blue, 80%);


//lime
bg-lime-level1 =         lighten(lime, 90%);
bg-lime-level2 =         lighten(lime, 80%);
bg-lime-level3 =         lighten(lime, 60%);
bg-lime-level4 =         lighten(lime, 40%);
bg-lime-level5 =         lighten(lime, 15%);
bg-lime-level6 =         darken(lime, 20%);
bg-lime-level7 =         darken(lime, 40%);
bg-lime-level8 =         darken(lime, 60%);
bg-lime-level9 =         darken(lime, 80%);

//teal
bg-teal-level1 =         lighten(teal, 90%);
bg-teal-level2 =         lighten(teal, 80%);
bg-teal-level3 =         lighten(teal, 60%);
bg-teal-level4 =         lighten(teal, 40%);
bg-teal-level5 =         lighten(teal, 15%);
bg-teal-level6 =         darken(teal, 20%);
bg-teal-level7 =         darken(teal, 40%);
bg-teal-level8 =         darken(teal, 60%);
bg-teal-level9 =         darken(teal, 80%);

//light-green
bg-light-green-level1 =         lighten(light-green, 90%);
bg-light-green-level2 =         lighten(light-green, 80%);
bg-light-green-level3 =         lighten(light-green, 60%);
bg-light-green-level4 =         lighten(light-green, 40%);
bg-light-green-level5 =         lighten(light-green, 15%);
bg-light-green-level6 =         darken(light-green, 20%);
bg-light-green-level7 =         darken(light-green, 40%);
bg-light-green-level8 =         darken(light-green, 60%);
bg-light-green-level9 =         darken(light-green, 80%);

//orange
bg-orange-level1 =         lighten(orange, 90%);
bg-orange-level2 =         lighten(orange, 80%);
bg-orange-level3 =         lighten(orange, 60%);
bg-orange-level4 =         lighten(orange, 40%);
bg-orange-level5 =         lighten(orange, 15%);
bg-orange-level6 =         darken(orange, 20%);
bg-orange-level7 =         darken(orange, 40%);
bg-orange-level8 =         darken(orange, 60%);
bg-orange-level9 =         darken(orange, 80%);

//yellow
bg-yellow-level1 =         lighten(yellow, 90%);
bg-yellow-level2 =         lighten(yellow, 80%);
bg-yellow-level3 =         lighten(yellow, 60%);
bg-yellow-level4 =         lighten(yellow, 40%);
bg-yellow-level5 =         lighten(yellow, 15%);
bg-yellow-level6 =         darken(yellow, 20%);
bg-yellow-level7 =         darken(yellow, 40%);
bg-yellow-level8 =         darken(yellow, 60%);
bg-yellow-level9 =         darken(yellow, 80%);

//amber
bg-amber-level1 =         lighten(amber, 90%);
bg-amber-level2 =         lighten(amber, 80%);
bg-amber-level3 =         lighten(amber, 60%);
bg-amber-level4 =         lighten(amber, 40%);
bg-amber-level5 =         lighten(amber, 15%);
bg-amber-level6 =         darken(amber, 20%);
bg-amber-level7 =         darken(amber, 40%);
bg-amber-level8 =         darken(amber, 60%);
bg-amber-level9 =         darken(amber, 80%);

//brown
bg-brown-level1 =         lighten(brown, 90%);
bg-brown-level2 =         lighten(brown, 80%);
bg-brown-level3 =         lighten(brown, 60%);
bg-brown-level4 =         lighten(brown, 30%);
bg-brown-level5 =         lighten(brown, 15%);
bg-brown-level6 =         darken(brown, 20%);
bg-brown-level7 =         darken(brown, 40%);
bg-brown-level8 =         darken(brown, 60%);
bg-brown-level9 =         darken(brown, 80%);

//grey
bg-grey-level1 =         lighten(grey, 90%);
bg-grey-level2 =         lighten(grey, 80%);
bg-grey-level3 =         lighten(grey, 60%);
bg-grey-level4 =         lighten(grey, 40%);
bg-grey-level5 =         lighten(grey, 15%);
bg-grey-level6 =         darken(grey, 20%);
bg-grey-level7 =         darken(grey, 40%);
bg-grey-level8 =         darken(grey, 60%);
bg-grey-level9 =         darken(grey, 80%);

//deep-orange
bg-deep-orange-level1 =         lighten(deep-orange, 90%);
bg-deep-orange-level2 =         lighten(deep-orange, 80%);
bg-deep-orange-level3 =         lighten(deep-orange, 60%);
bg-deep-orange-level4 =         lighten(deep-orange, 40%);
bg-deep-orange-level5 =         lighten(deep-orange, 15%);
bg-deep-orange-level6 =         darken(deep-orange, 20%);
bg-deep-orange-level7 =         darken(deep-orange, 40%);
bg-deep-orange-level8 =         darken(deep-orange, 60%);
bg-deep-orange-level9 =         darken(deep-orange, 80%);
