// Padding


.p1 {
    padding:.5rem;
}

.py1 {
    padding-top:.5rem;
    padding-bottom:.5rem;
}

.px1 {
    padding-left:.5rem;
    padding-right:.5rem;
}

.p2 {
    padding:1rem;
}

.py2 {
    padding-top:1rem;
    padding-bottom:1rem;
}

.px2 {
    padding-left:1rem;
    padding-right:1rem;
}

.p3 {
    padding:2rem;
}

.py3 {
    padding-top:2rem;
    padding-bottom:2rem;
}

.px3 {
    padding-left:2rem;
    padding-right:2rem;
}

.p4 {
    padding:4rem;
}

.py4 {
    padding-top:4rem;
    padding-bottom:4rem;
}

.px4 {
    padding-left:4rem;
    padding-right:4rem;
}

.px16  {
  padding-left:16px;
  padding-right:16px;
}
// Responsive padding

.p-flex { padding: 1.5rem; }
.px-flex { padding-right: 1.5rem; padding-left: 1.5rem; }
.py-flex { padding-top: 1.5rem; padding-bottom: 1.5rem; }

@media (min-width: 48em) and (max-width: 64em) {
  .p-flex { padding: 3rem; }
  .px-flex { padding-right: 3rem; padding-left: 3rem; }
  .py-flex { padding-top: 3rem; padding-bottom: 3rem; }
}

@media (min-width: 64em) {
  .p-flex { padding: 4rem; }
  .px-flex { padding-right: 4rem; padding-left: 4rem; }
  .py-flex { padding-top: 4rem; padding-bottom: 4rem; }
}
