/*  Choose how you want your theme
 *  From the following settings to set your css
 *  the way that you want  */


/*  Define BASE COLORS  */
white =                 #FFFFFF;
black =                 #111111;
red =                   #712617;
blue =                  #03A9F4;
light-blue =            #a6e7ff;
green =                 #4c5037;
light-green =           #9fb396;
yellow =                #FCCC45;
orange =                #FF9800;
purple =                #964f8e;
deep-purple =           #6e4177;
teal =                  #28748A;
pink =                  #ce3175;
blue-grey =             #646e83;
cyan =                  #6EC6C6;
indigo =                #1c70ae;
lime =                  #ded560;
amber =                 #967d46;
deep-orange =           #e85e31;
brown =                 #594f47;
grey =                  #9E9E9E;
tan =                   #e1c7b7;

/* Extra - Nomal colors */
success =               #005139;      
warning =               #a7071c;
info =			        #004d33;	
/*  Typography  */


/*  Fonts  */
font-family =           "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;


/* Other Colors used mostly for code*/
off-white =             #95A2BB;
bright-white =          #adbcd7;
background-black =      #292C33;
bright-black =          #2D323A;



// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.

color-primary =        light-blue;
color-primary-dark =   light-blue-level7;
color-accent =         red;

/*  Background Color  */

background-color =     white;

/*  Text Color  */

text-color = 		    rgba(0,0,0, 0.87);
white-text =			rgba(255,255,255, 0.87);
/*  Buttons  */


/*  Animations  */

default-offset = 200px;

/*  Badge  */

/*  Card  */

/*  Data Table  */

/*  Mega Footer  */

/*  Mini Footer  */

/*  Icon Toggle */

/*  Tabs  */

/* GRID */

grid-desktop-columns = 12 !default;
grid-desktop-gutter = 16px !default;
grid-desktop-margin = 16px !default;

grid-desktop-breakpoint = 840px !default;

grid-tablet-columns = 8 !default;
grid-tablet-gutter = grid-desktop-gutter !default;
grid-tablet-margin = grid-desktop-margin !default;

grid-tablet-breakpoint = 480px !default;

grid-phone-columns = 4 !default;
grid-phone-gutter = grid-desktop-gutter !default;
grid-phone-margin = grid-desktop-margin !default;

grid-cell-default-columns = grid-phone-columns !default;